/*
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Architects+Daughter|Handlee);
*/

html, body{
	position: relative;
	margin: 0;
	padding: 0;
	background: lightblue;
	font-family: "Arial Rounded MT Bold", Arial, sans-serif;
	color: white;
}

h1{
	text-align: center;
}

h2, h3{
	text-decoration: underline;
}

body > div, h1, footer{
	border: 3px solid white;
	background: grey; 
	border-radius: 2em;
	margin: 1em 2em;
	padding: 1em 2em;
}

div.error{
	color: red;
}

div.success{
	color: green;
}

ol#content li{
	position: relative;
	background: white;
	border: 2px solid white;
	border-radius: 1em;
	color: black;
	margin: 1em;
	padding: 1em;
}

div.gen{
	position: relative;
	background: lightblue;
	border: 2px solid grey;
	border-radius: 1em;
	color: white;
	margin: 1em;
	padding: 1em;
	overflow: hidden;
}

span.gen{
	position: relative;
	display: block;
	float: left;
	margin: 5px;
}

@media (max-width: 770px) {
	
}